@font-face {
  font-family: "StoryFont";
  src: url("../fonts/OldstyHPLHS.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

body {
    margin: 0;
    background-color: #eee;
    font-family: Roboto;
}

button {
    font-family: Roboto;
}

h1, h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}
h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

nav.top-bar {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 10px;

    border-bottom: 2px solid #aaa;
}

nav.breadcrumbs {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    font-size: 14px;
}

input[type="file"] {
    color: #eee;
    background-color: buttonface;
}

ul li {
    padding-top: 3px;
}

.app-container {
    padding: 30px;
    padding-top: 0;
}
.app-container-simple {
    max-width: 50em;
}

.login-page {
    margin-top: 30vh;
    text-align: center;
}
.site-title {
    margin-bottom: 20px;
    font-size: 24px;
}
.login-form {
    width: 100%;
}
.login-form .form-line label {
    display: inline-block;
    min-width: 100px;
    text-align: right;
    margin-right: 10px;
}
.login-form .form-actions {
    margin-top: 5px;
}
.narrow-form {
    max-width: 500px;
}
.vertical-form {
    display: flex;
    flex-direction: column;
}
.vertical-form .form-line {
    margin-bottom: 18px;
}
.vertical-form label {
    font-size: 18px;
}
.vertical-form input[type="text"], .vertical-form input[type="password"], .vertical-form input[type="email"] {
    padding: 4px;
    font-size: 22px;
}
.vertical-form input {
    width: 100%;
    border: 1px solid black;
    background-color: #eee;
}

.vertical-form input[type="text"][readonly] {
    background-color: #ddd;
}
.vertical-form input[type="file"] {
    border: none;
}

#loader {
    width: 100%;
    height: 100%;

    text-align: center;
}
#loader-contents {
    padding-top: 40vh;
    font-family: "StoryFont";
}
#loader-contents .banner {
    font-family: "Roboto";
}
#loader, #loader button {
    font-size: 36px;
}
#loader button {
    font-family: StoryFont;
    padding: 15px;
}

#start-ui button {
    padding: 20px 30px;
    background-color: buttonface; /* Needed for Firefox for some reason */
}
#start-ui label {
    font-size: 14px;
}

.invisible {
    display: none;
}

.transparent {
    opacity: 0;
}

.fade-in {
    transition: opacity 7s;
}

.banner {
    max-width: 50em;

    margin: 20px auto;
    padding: 10px 20px;

    color: #ddd;
}
.banner-success {
    background-color: #151;
}
.banner-error {
    background-color: #511;
}

.btn-bar {
    text-align: right;
}
.btn-bar-extra {
    margin-top: 10px;
}

.btn {
    border: 1px solid #ddd;
    margin: 0 3px;
    padding: 5px 10px;

    font-size: 18px;
    font-weight: normal;
    background-color: whitesmoke;
}
a.btn {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.btn-default {
    background-color: #113;
    color: #eee;
}

.btn-small {
    font-size: 12px;
}

.btn-inline {
    display: inline-block;
    padding: 0;
    font-size: 10px;
    vertical-align: middle;
}

.btn-add {
    padding-left: 30px;
    background-image: url("/img/add.png");
    background-repeat: no-repeat;
    background-position: 8px 50%;
}

.btn-edit {
    padding-left: 30px;
    background-image: url("/img/edit.png");
    background-repeat: no-repeat;
    background-position: 8px 50%;
}

.btn-inline.btn-add {
    min-width: 18px;
    min-height: 18px;
    padding-left: 0;

    background-position: 0 50%;
}

ul.thread-list {
    display: block;
    padding-left: 0;
    margin-top: 0;
}
ul.thread-list li {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
}
ul.thread-list li span.narrator {
    font-style: italic;
}
ul.thread-list .message {
    padding: 5px;
    white-space: pre-wrap;
}
ul.thread-list li .btn-bar {
    padding: 10px 5px 10px 0;
}

.ProseMirror {
    padding: 5px;
    color: #113;
    background-color: #eee;
    outline: -webkit-focus-ring-color auto 5px;
}

.ProseMirror p:first-child {
    margin-top: 0;
}
.ProseMirror p:last-child {
    margin-bottom: 0;
}

.ProseMirror img, .chapter img {
    width: 100%;
}
span.mention img {
    /* This is so that the mentioned images get the color in the border */
    box-sizing: border-box;
    padding: 10px;
}
.chapter span.mention img {
    /* This is specifically for images with a single mention: otherwise the
       gradient will fade to the wrong colour */
    background-color: #e5e5e5;
}

.ProseMirror .separator, .chapter .separator {
    height: 20px;
    border: none;
    margin: 0 auto;
    padding: 10px 20px;

    background: url(/img/separator.png) no-repeat center;
}
.chapter .separator {
    font-size: 18px;
    max-width: 40em;
    background-color:  #e5e5e5;
}

.dialog-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;

    text-align: center;
    background-color: rgba(64, 64, 64, 0.6);
}

.dialog {
    width: 300px;

    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    padding: 15px;

    text-align: center;
    background-color: #eee;
}

.dialog-text {
    margin: 2em;
    font-size: 18px;
}

.editor-container {
    width: 100%;
    margin: 0;
    border: 1px solid black;

    background-color: #eee;
}

.editor-container .ProseMirror {
    min-height: 200px;
}

.help {
    cursor: help;
}

.dramatis-personae {
    display: block;
    padding-left: 0;
}
.dramatis-personae > li {
    display: flex;
    margin: 10px 0;
}
.dramatis-personae > li img {
    margin-right: 10px;
    width: 100px;
    height: 100px;
}
.dramatis-personae.compact > li {
    align-items: center;
}
.dramatis-personae.compact > li img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.floating-tip {
    margin: 5px 20px;
    border: 2px solid #ccc;
    padding: 10px;

    font-size: 16px;
    background-color: #ddd;
}
.floating-tip h3 {
    margin: 0;
    font-size: 18px;
}
.floating-tip p {
    font-weight: normal;
    margin-bottom: 0;
}
.floating-tip blockquote {
    font-style: italic;
    font-weight: normal;
}

/* CSS Spinner rules (from http://tobiasahlin.com/spinkit/) */
.spinner {
  display: inline-block;
  width: 70px;
  text-align: center;
}
.spinner > div {
  display: inline-block;
  width: 14px;
  height: 14px;

  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* End of the CSS spinner rules */
