#reader-app {
    min-height: 100%;
    background-color: black;
    color: #e5e5e5;
}
/* Unfortunately need this hack because reader app has black
   background and having something at the top with margin-top (like
   the "h2" title in the character app) leaves an ugly, white top
   bar. Apparently it's enough to make it non-zero to make it work
   properly. */
#reader-app.app-container {
    padding-top: 1px;
    min-height: 100%
}

#reader-app a {
    color: inherit;
}

#chapter-container {
    padding-top: 85vh;
    padding-bottom: 40px;
}

#top-image {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 120%;
    padding-top: 200px;

    background: url(#) no-repeat center center fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #e5e5e5;

    text-align: center;
    font-size: 60px;
    font-family: StoryFont;
    text-shadow:
       3px  3px 0 #000,
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
}

#play-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

.chapter {
    position: relative;
    z-index: 5;

    margin-left: 10px;
    margin-right: 10px;

    color: black;
    font-family: StoryFont;
}

.chapter > p, .chapter > blockquote {
    max-width: 40em;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;

    margin: 0 auto;
    padding: 10px 20px 10px 20px;
    background-color: #e5e5e5;
}
.chapter > blockquote {
    padding: 0 20px;
}

.chapter > p:first-child {
    padding-top: 20px;
}
.chapter > p:last-child, .chapter > blockquote:last-child {
    padding-bottom: 20px;
}

.chapter > p:first-child::first-letter {
    float: left;
    
    font-size: 94px;
    line-height: 81px;
    margin-right: 3px;
}

.chapter ul, .chapter ol {
    max-width: 40em;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #e5e5e5;
}

.chapter li {
    margin-left: 40px;
    margin-right: 40px;
}

.chapter li p {
    margin: 0;
}

.chapter > img {
    width: 100%;
}

.chapter > blockquote > p {
    margin: 0;
    padding: 3px 2em;
    font-style: italic;
}

.interaction {
    position: relative;
    z-index: 5;

    max-width: 40em;
    margin: 40px auto 0 auto;
    padding: 20px;

    font-size: 18px;
    background-color: #333;
}

.interaction h2 {
    margin: 0;
}

.interaction textarea {
    width: 100%;
    padding: 5px;
}

.messages {
    margin-top: 50px;
    margin-bottom: 50px;
}

ul.thread-list.reader .message {
    background-color: black;
}
ul.thread-list.reader li .btn-bar {
    background-color: black;
}

.thread-participants {
    font-weight: bold;
}

.new-message {
    display: block;
    margin: 10px auto 20px auto;
}

#save-notes-message {
    margin-right: 15px;
    color: #2b2;
}

.reference-container {
    border: dashed 1px;
    padding: 10px;
    padding-bottom: 0;

    overflow: hidden;
}
.reference-container.hidden {
    height: 1.5em;
}
.arrow {
    width: 0;
    height: 0;

    margin: 0 auto;
    border: 15px solid transparent;

    cursor: hand;
}
.arrow-up {
    border-bottom-color: white;
}
.arrow-down {
    border-top-color: white;
}

#description-editor .ProseMirror {
    min-height: 100px;
}
#backstory-editor .ProseMirror {
    min-height: 200px;
}

.character-description p {
    margin-top: 0;
}

.avatars {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.avatars img {
    width: 100px;
    height: 100px;
}
.upload-new-avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-avatar-controls {
    margin-left: 10px;
    margin-right: 10px;
}
.new-avatar-controls label {
    display: block;
}

.chapter-navigation {
    position: fixed;
    top: 0;
    z-index: 7; /* Has to be between .chapter's and #play-icon's */

    width: 50px;
    height: 100%;

    background-color: #888;
    opacity: 0.8;
}
.chapter-navigation:hover {
    opacity: 1;
}
.chapter-navigation-previous {
    left: 0;
}
.chapter-navigation-next {
    right: 0;
}
.chapter-navigation-arrow {
    position: absolute;
    top: 50%;

    width: 0;
    height: 0;

    border: 20px solid transparent;

    cursor: hand;
}
#previous-chapter-arrow {
    left: 0;
    border-right-color: #333;
}
#next-chapter-arrow {
    right: 0;
    border-left-color: #333;
}

#reader-app .floating-tip {
    background-color: black;
}
